<html lang="en">
<head>
    <style>
        @page {margin: -10px;}
        * {background-color: #f2f2f2;}
        html {
        }
        body {
            padding: 22.677px;
            background-color: #f2f2f2;
        }
        div {
            height: 100%;
            width: 100%;
            background-color: white;
        }
    </style>
</head>
<body>
    <div></div>
</body>
</html>